{% extends "sphene/sphboard/base.html" %}

{% block extrahead %}
<style>
.notice {
        float: left;
        background-color:#FFFFE1;
        border:1px dashed #666666;
        color:#666666;
        height:auto;
        margin:0pt 0pt 10px 10px;
        padding:5px;
        width:25em;  
    }
</style>
{% endblock %}

{% block content %}

<div id="inner">
<h2>Password Reset Email Sent</h2>
  A special password reset URL has been sent to <b>{{ email }}</b>.<br/>
  It should arrive within the next few minutes.  When you get the message, please click the URL in the message body.<br/>
</div>

{% endblock %}
