{% extends "base_with_news.html" %}

{% block meta %}
{{ page.meta }}
{% endblock %}

{% block title %}boostcon'07 - {{ page.page_title }}{% endblock %}

{% block detail %}
  {% if page.first_child %}
      <h3>detail</h3>
      <ul>
        {% for c in page.children %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.menu_title }}</a></li>
        {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

{% block in_sidebar %}
{% endblock %}

{% block content %}
<div id="document">
<h2>{{page.title}}</h2>
{{ body }}
</div>
{% endblock %}

