{% extends "base_with_news.html" %}

{% block meta %}
{{ page.meta }}
{% endblock %}

{% block title %}boostcon'07 - {{ page.page_title }}{% endblock %}

{% block sidebar_type %}{% if not page.first_child %}_wm{% endif %}{% endblock %}
  
{% block detail %}
  {% if page.first_child %}
      <h3>detail</h3>
      <ul>
        {% for c in page.children %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.menu_title }}</a></li>
        {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

{% block in_sidebar %}
  {% if page.first_child %}
      <div class="wrapper"></div>
  {% endif %}
{% endblock %}

{% block content %}
<div  class="node" id="document">
<h2>{{page.title}}</h2>
{% block body %}
{{ body }}
{% endblock %}
</div>
{% endblock %}

