/* Styles used for forms and ecommerce */
    #inner {
        padding-left: 5px;
        float: left
    }

    form {
        width: 25em;
    }

    form input {
        padding: 0.2em;
    }

    form div.notice {
        float: right;
        background-color:#FFFFE1;
        border:1px solid #666666;
        color:#666666;
        height:auto;
        margin:0pt 0pt 10px 10px;
        padding:5px;
        width:25em;  
    }

    form input.button {
        border: 1px outset #CCCCCC;
        background-color: #EEEEEE;
        float: right;
        margin-top: 1em;
    }

