@import url("/site-media/docutils.css");
html,body {
	background-color: #86aac5;
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 100%;
	background-image: url(images/body-background.gif);
	background-repeat: repeat-y;
	background-position: center;
}
h1 {
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	height: 83px;
	margin: 0;
	padding: 0;
	}
h1 span {
	display: none;
}
h2 {
	font-size: 1.9em;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: left;
	margin: 0 0 18px 22px;
	padding: 0 0 4px 0;
	display: block;
	width: 650px;
	background-image: url(images/ruler.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 0 0 22px;
	padding: 0 0 4px 0;
	color: #4e87a6;
}

div.node#document
{
	margin: 0 0 0 22px;
}

#document img.align-right {
  margin-top: 10px;
  margin-left: 10px;
}

#document img.align-left {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 22px;
}


h3,.node h4,.node h5,.node h6 {
    font-size: 115%;
	padding: 0 0 4px 0;
}

a {
	color: #4e87a6;
	text-decoration: underline;
}

a:link {
	color: #4e87a6;
	text-decoration: underline;
}
div#container {
	position: relative; /* needed for footer positioning*/
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
	width: 100%;
	clear: both;
	background-image: url(images/container-background.gif);
	background-position: center;
	background-repeat: repeat-y;
}
div#navigator {
	width: 100%;
	height: 21px;
	background-color: #32373b;
	background-image: url(images/navigator-background.gif);
}
div#navigator div.center {
	width: 950px;
	background-color: #32373b;
	margin: 0 auto;
	padding: 0 2px;
	height: 22px;
	background-image: url(images/navigator-bottom.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: right;
}

a#contact {
	background-image: url(images/contact-button.gif);
	width: 59px;
	height: 21px;
	display: block;
	float: right;
}
a#contact span {
	display: none;
}
a#home {
	background-image: url(images/home-button.gif);
	width: 46px;
	height: 21px;
	display: block;
	float: right;
	margin: 0 2px 0 0;
}
a#home span {
	display: none;
}

div#header {
	background-image: url(images/header-background.gif);
	background-position: top right;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	width: 950px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

ul#menu {
	margin: 0;
	background-color: #f5f4ef;
	list-style-type: inherit;
	font-size: 1.1em;
	font-weight: bold;
    height:20px; /* too big? */
	color: #32373b;
	padding: 5px 10px 6px 27px;
	/*letter-spacing: 2px;*/
    z-index: 1;
}

ul#menu a {
	color: #32373b;
	text-decoration: none;
    text-transform:lowercase;
}

ul#menu a:link:hover {
	color: #828c94;
	text-decoration: none;
}

ul#menu li {
	display: inline;
	margin: 0 7px;
	padding: 0;
    width: 110px;

    float: left;
    position: relative;
    text-indent: 10px;
/*   width: 80px;*/
}

ul#menu li.parent:hover {
  background: url(bg-navigation-top.png) no-repeat;
  display: block;
}
ul#menu li a.top-menu {
  font-size: 1.09em;
  font-weight:bold;
  margin-right:0;
  padding-right:0;
  border-left:none;
}

ul#menu li:hover ul {
  display: block;
}

ul#menu ul ul {
	visibility:hidden; 
}

ul#menu ul *:focus { outline : none }

ul#menu li ul {
  display: none;
  position: absolute;
  height: auto;
  /*top: 28px;*/
  left: 0px;
  line-height: 2em;
  background: url(bg-navigation-bottom1.png) no-repeat;
  padding-bottom: 10px;
  /*width: 160px;*/
  padding-top: 6px;
}

ul#menu li ul li {
  height: auto;
  padding: 0;
  display: block;
  left: -47px;
  text-indent: 0;
  text-align: left;
  width: 100%;
  background: url(bg-navigation-bottom2.png) repeat-y; 
}

ul#menu li ul li.last {
  background: url(bg-navigation-bottom3.png) left bottom repeat-y;
  padding-bottom: 10px;
}

ul#menu li ul li.self a {
  color:#EEF;
  font-weight:bold;
}

ul#menu li ul li:hover ul {
  display: block;
}

ul#menu li ul li.submenu:hover>ul {
  visibility: visible;
}


ul#menu li ul li a {
  padding: 0;
  padding-left: 20px;
  width: 128px;
  display: block;
  border-left: none;
  font-weight: normal;
  text-decoration:none;
  /*text-transform: none;*/
}

ul#menu li ul li a:hover {
  text-decoration:none;
  background-color: #B3AA92;
}

ul#menu li ul li ul {
  /*position: absolute;*/
  top: 0px;
  left: 100px;
}

/* -------------- */

/*
 * deleted
 *
div#content {
	height: 100%;
	min-height: 100%; 
	background-color: #FFFFFF;
	width: 700px;
	margin: 0 auto;
	clear: both;
}
 * 
 * deleted
*/

div#content {
	height: 100%;
	min-height: 100%; 
	width: 950px;
	margin: 0 auto;
	clear: both;
	background-image: url(images/body-background.gif);
	background-position: center;
}

div#sidebar {
	margin: 0;
	padding: 0;
	width: 250px;
	float: left;
	background-color: #FFFFFF;
	background-image: url(images/sessions-background.gif);
	background-repeat: no-repeat;
	background-position: top;
}

div#sidebar h3 {
	background-color: #828c94;
	width: 200px; /* 144 px */ 
	margin: 22px auto 0 auto;
	padding: 4px 12px 5px 0;
	color: #FFFFFF;
	text-align: right;
	letter-spacing: 2px;
}

div#sidebar ul {
	list-style-type: none;
	font-size: 1.1em;
	font-weight: bold;
	width: 212px; /* 156 px */
	margin: 10px auto 0 auto;
	padding: 0 0 11px 0;
	letter-spacing: 1px;
	background-color: #FFFFFF;
}

div#sidebar ul li {
	display: block;
	text-align: right;
	margin: 0px 11px 0px 0;
}

div#sidebar ul a {
	text-decoration: none;
	color: #6f7375;
}

div#sidebar ul a:hover {
	text-decoration: none;
	color: #32373b;
}

div.wrapper {
	background-image: url(images/block-wrapper.gif);
	height: 33px;
	width: 212px; /* 156px */
	margin: 0 auto;
}

div#sidebar h4 {
	width: 199px; /* 149px */
	margin: 0 auto;
	padding: 1px 0 2px 13px;
	font-size: 1.2em;
	color: #4e87a6;
	letter-spacing: 1px;
}

div#sidebar h4 a {
   text-decoration:none;
   color: #4e87a6;
}

div#sidebar h5 {
	font-size:101%;
}

div#sidebar div.block {
	/* padding: 22px 14px 17px 13px; */
	padding: 1px 14px 17px 13px;
	background-color: #f5f4ef;
	/* removed to div#sidebar div.first
	background-image: url(images/block-fade.gif);
	background-repeat: repeat-x;
	background-position: top;
	*/
	width: 182px; /* 129px */
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #32373b;
}

div#sidebar div.first {
	padding: 22px 14px 17px 13px;
	/* added from div#sidebar div.block	*/
	background-image: url(images/block-fade.gif);
	background-repeat: repeat-x;
	background-position: top;
}

div#sidebar div.block a:hover {
	text-decoration: underline;
	color: #828c94;
}

div#sidebar div.first  {
	padding: 12px 14px 17px 13px;
}

div#sidebar div.block p {
	padding: 0 0 10px 0;
	line-height: 14px;
	margin: 0;
}

div#sidebar a {
	color: #4e87a6;
	text-decoration: none;
	font-size: 1em;
}

/* * * * * * * * * * * * * * * * * *
 * added for menuless sidebar at
 * 2007.02.08  -  cad
 * * * * * * * * * * * * * * * * * */



div#sidebar_wm {
	margin: 0;
	padding: 10px 0 0 0;
	width: 250px; /* 200px */ 
	float: left;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: top;
}

div#sidebar_wm h4 {
	width: 199px; /* 143px */ 
	margin: 0 auto;
	padding: 1px 0 2px 13px;
	font-size: 1.1em;
	color: #FFFFFF;
	letter-spacing: 2px;
	background-color: #32373b;
}

div#sidebar_wm h4  a {
	color: #FFFFFF;
	text-decoration: none;
}

div#sidebar_wm h5 {
	font-size:101%;
}

div#sidebar_wm div.block {
	padding: 22px 14px 17px 13px;
	background-color: #f5f4ef;
	background-image: url(images/block-fade.gif);
	background-repeat: repeat-x;
	background-position: top;
	width: 185px; /* 129px */ 
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #32373b;
}

div#sidebar_wm div.block a:hover {
	text-decoration: underline;
	color: #828c94;
}

div#sidebar_wm div.first  {
	padding: 12px 14px 17px 13px;
}

div#sidebar_wm div.block p {
	padding: 0 0 10px 0;
	line-height: 14px;
	margin: 0;
}

/* * *  - e n d -  * * */


div#main {
	margin: 18px 0 0 0;
	padding: 0;
	width: 700px;
	float: right;
	background-color: #FFFFFF;
}

div.node {
	clear: both;
	font-size: 1.2em;
	font-weight: normal;
	width: 650px;
	margin: 0 0 17px 0;
	background-color: #FFFFFF
}

div.node a:link:hover {
	color: black;
	text-decoration: underline;
}


html>/**/body div.node {
	margin: 0 0 29px 0;
}
div.node p {
	margin: 6px 0 14px 22px;
}

div.node p img.cube {
	margin: 6px 0 0 6px;
}

div#footer {
	clear: both;
	bottom: 0; /* stick to bottom */
	width: 950px;
	margin: 0 auto;
	height: 30px;
	background-image: url(images/cadesign.gif);
	background-repeat: no-repeat;
	background-position: 83px 10px;
}

#breadcrumbs {
    display: none;
}

/* ---- common docutils-related stuff ----- */

#content blockquote.pull-quote {
  clear: both;
  float: right;
  font-size: 1.5em;
  width: 210px;
  font-family: Georgia;
  margin: 0 1.5em 0 1.5em;
  padding: 20px 0 20px 30px;
  text-indent: 30px;
  background: url(bg-blockquote.png) no-repeat;
}

#content blockquote.pull-quote.left {
  float: left;
  margin: 0 1.5em 0 0.5em;
}

#content blockquote.pull-quote.center {
  float: none;
  margin: 0 auto 0 auto;
  width: 350px;
}
/*
* html #content blockquote.pull-quote {
  width: 220px; 
}
*/
#content blockquote.pull-quote p {
  font-size: 1em;
  font-family: Georgia;
}

#content blockquote.pull-quote:after {
  font-size: 1.5em;
  vertical-align: top;
  content: " \201D";
}

#content blockquote.pull-quote p.attribution {
  font-size: 0.8em;
  font-family: Georgia;
}

#content span.intro {
  text-transform: uppercase;
  font-weight: bold;
}

#content p.intro {
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.2;
  padding-left: 10px;
  border-left: solid 4px #ddd;
}

#content #nextprev {
    border-top: solid 1px #ddd;
    clear: both;
}

#content p.prev {
  margin: 0;
}

/* to get bold-faced definition list terms */
dl.docutils dt {
  font-weight: bold }

div.node p.schedule-day {
   background-color: #89a;
   text-align: center;
   font-weight: bold;
   color: #fff;
   margin: 0;
   padding: 0;
}

/*=============================================================================
    Tables, stolen from Boost's stylesheet
=============================================================================*/

    table.table
    {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    table.table
    {
        padding: 4px;
    }
    
    /* Table Cells */
    table.table tr td
    {
        padding: 0.5em;
        text-align: left;
        font-size: 9pt;
    }

    table.table tr th
    {
        padding: 0.5em 0.5em 0.5em 0.5em;
        border: 1pt solid white;
/*        font-size: 80%;*/
    }

    @media screen
    {
    
    /* Tables */
        table.table tr td
        {
            border: 1px solid #DCDCDC;
        }
    
        table.table tr th
        {
            background-color: #F0F0F0;
            border: 1px solid #DCDCDC;
        }

        pre, 
        .screen
        {
            border: 1px solid #DCDCDC;
        }
    
        td pre
        td .screen
        {
            border: 0px
        }
    
        .sidebar pre
        {
            border: 0px
        }
    
    }

    pre, 
    .screen
    {
        font-size: 9pt;
        display: block;
        margin: 1pc 4% 0pc 4%;
        padding: 0.5pc 0.5pc 0.5pc 0.5pc;
    }

    /* Program listings in tables don't get borders */
    td pre, 
    td .screen
    {
        margin: 0pc 0pc 0pc 0pc;
        padding:  0pc 0pc 0pc 0pc;
    }

/* ---------- Schedule ------------ */

.schedule th.weekday {
   width=1.5em;
}

.schedule th.weekday em {
   display: block;
   font-style: normal;
}


/* * * * * * * * * * * * * * * * * *
 * added for schedule table design
 * 2007.02.12  -  cad
 * * * * * * * * * * * * * * * * * */
 
 
table.table {
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:1.2em;
	width:100%;
	border-collapse: collapse;
	margin: 6px 0 14px 22px;
}
table.table caption
{
	background-color:inherit;
	font-size:1.5em;
	font-weight: bold;
	color: #4e87a6;
	letter-spacing: 3px;
	padding:  6px 0 25px 22px;
}

table.table thead th
{
	background-color: inherit;
	padding:  7px 7px 7px 7px;
	text-align: center;
	font-size:1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #33393d;
	letter-spacing: 2px;
}
table.table tbody th 
{
	font-size:0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #33393d;
	text-align: left;
	padding: 7px 0px 5px 13px;
	background-color: #f5f4ef;
	border-right: 4px solid  #FFFFFF;
	border-bottom: 1px solid #e9e8e3; 
}

table.table thead th { 
	border-bottom: 2px solid  #adadad;
	
}

table.table thead th:first-child { 
	border-bottom:none;
	background-color: #f5f4ef;
	border-right: 4px solid  #FFFFFF;
}

table.table tbody td
{
	font-size:1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-align:left;
	padding: 7px 5px 5px 7px;
	line-height:1.5em;
}


/**** BREAK ****/
table.table tbody td.break {
	font-weight: bold;
	text-align: center;
	border: 2px solid #ffffff;	
	background-color: #f5f4ef;	
} 

table.table tbody td.break:hover {
	background-color: #f5f4ef;	
} 


/**** USER COLORS ****/

table.table tbody td.u1 {
	border-right: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	color: #000000;
	text-decoration: none;
	background-color: #dae5ed;
} 

table.table tbody td.u1 a
{
	text-decoration: none;
	color: #000000;

}

table.table tbody td.u1:hover {
	background-color: #c2d4e2;
} 


table.table tbody td.u2 {
	background-color: #daeddc;
	border-right: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
} 

table.table tbody td.u2 a
{
	text-decoration: none;
	color: #000000;

}


table.table tbody td.u2:hover {
	background-color: #c2e2c4;
	border-right: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
} 


/**** DEV COLORS ****/
table.table tbody td.d1 {
	background-color: #ededda;
	border-top: 2px solid #ffffff;
	
} 

table.table tbody td.d1 a
{
	text-decoration: none;
	color: #000000;

}

table.table tbody td.d1:hover {
	background-color: #e2e1c2;
} 



table.table tbody td.d2 {
	background-color: #eddada;
	border-top: 2px solid #ffffff;
}

table.table tbody td.d2 a
{
	text-decoration: none;
	color: #000000;

}

table.table tbody td.d2:hover {
	background-color: #e2c2c2;
}  


table.table tbody th:hover {

	background-color: #fff;
}



.name
{
	font-family: Palatino Linotype, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.name a
{
	text-decoration: none;
}

.name:hover
{
	text-decoration: underline;
}

table.table tbody td.error {
	background-color: #ff0000;
}

table.table tbody td.error:hover {
	background-color: #ff0000;
}


/* * *  - e n d -  * * */