{% extends "base_with_sidebar.html" %}

{% block heading %}News Archive{% endblock %}

{% block content %}

<div id="breadcrumbs">
<ul>
  <li><a href="/">Home</a> &gt;</li>  
  <li>News archive</li>
</ul>
</div>

<div id="document">
<h2>News Archive</h2>

{% load news %}

<div class="node">
<h3>All News by Year:</h3> 
<p>
{% for y in date_list %}
{% if forloop.counter0 %}| {% endif %}<a href="news/{{y|date:"Y"}}">{{y|date:"Y"}}</a>
{% endfor %}
</p>
</div>

{% if latest %}
<div class="node">  
<h3>Most Recent Articles</h3>
  {% for n in latest %}
  {% ifchanged %}
     <h4>
        <a href="news/{{ n.date|date:"Y" }}/{{ n.date|date:"M" }}">{{ n.date|date:"F, Y"}}</a>
     </h4>
     <p />
   {% endifchanged %}

  <ul style="list-style: none;">
    <li style="margin: 0 0 2em 0;">
      <h5 style="display: inline">{{ n.title|safe }}</h5>
      <span style="display: inline; margin: 0 1em;">{{ n.date }}</span>
<p>{{ n.summary|safe }}</p>
      {{ n.body|safe }}
      <hr />
    </li>
  </ul>
  {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}

