{% extends "base.html" %}

{% block content %}

<div id="breadcrumbs">
<ul>
  <li><a href="/">Home</a> &gt;</li>  
  <li>News archive for {{ year }}</li>
</ul>
</div>

{% load news %}

<div id="document">
<h1>News Archive for {{ year }}</h1>

{% for n in object_list reversed %}
  {% ifchanged %}
     <h2>
        <a href="{{ n.date|date:"Y" }}/{{ n.date|date:"M" }}">{{ n.date|date:"F"}}</a>
     </h2>
     <hr /><p />
   {% endifchanged %}

      <h3 style="display: inline">{{ n.get_title }}</h3>
      <span style="display: inline; margin: 0 1em;">{{ n.date }}</span>
<p>{{ n.summary }}
<br /><a class="more" href="{{ n.date|date:"Y/M/d" }}/{{ n.slug }}">more...</a></p>
{% endfor %}
</div>

{% endblock %}

