{% extends "base.html" %}

{% block content %}

<div id="breadcrumbs">
<ul>
  <li><a href="/">Home</a> &gt;</li>  
  <li>News archive for {{ day|date:"F d, Y" }}</li>
</ul>
</div>

<div id="document">
<h2>News Archive for {{ day|date:"F d, Y" }}</h2>

{% load news %}

<ul style="list-style: none;">
{% for n in object_list reversed %}
    <li style="margin: 0 0 2em 0;">
      <h3 style="display: inline">{{ n.get_title }}</h3>
      <span style="display: inline; margin: 0 1em;">{{ n.date }}</span>
<p>{{ n.summary }}
<br /><a class="more" href="{{ n.date|date:"d" }}/{{ n.slug }}">more...</a>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}

