<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}boostcon'08{% endblock %}{% block moretitle %}{% endblock %}</title>
  {% block meta %}
	<meta name="keywords" content="boostcon, cpp, c++" />
	<meta name="description" content="boost libraries conference 2007" />
  {% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en" />
	<meta name="author" content="Zoltán 'cad' Juhász" />
	<link rel="stylesheet" type="text/css" href="{{media_url}}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{media_url}}/final_drop.css" />
  {% block more_style %}
  {% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  {% block extrahead %}
  {% if account_message %}
  <script src="/site-media/js/jquery-1.1.js" type="text/javascript"></script>
  <script src="/site-media/js/interface.js" type="text/javascript"></script>
  {% endif %}
  {% endblock %}

  {% if account_message %}
  <script type="text/javascript">
    $(function() {
        $('div.center span.message').Pulsate(1000,3)
    });
  </script>
  {% endif %}

</head>

<body>
	
<div id="container"> 
  <div id="navigator"> 
      <p id="hosted">Hosted by <a href="http://www.boostpro.com">Boostpro Computing</a></p>
    <div class="center"> <a id="home" href="/"><span>home</span></a> <a id="contact" href="/about/contact"><span>contact</span></a> 


<p>  
  {% if account_message %}
  <span class="message">
    {{ account_message }}
  </span>
  {% endif %}

  <span>
  {% if user.is_authenticated %}
    logged in as <em>{{ user.username|escape }}</em>
   | <a href="/settings/profile/edit?next={{ request.path|urlencode }}">settings</a>
   | <a href="/accounts/logout?next={{ request.path|urlencode }}">log out</a>
  {% else %}
    <a href="/accounts/login?next={{ request.path|urlencode }}">log in / create account</a>
  {% endif %}
  </span>
</p>


    </div>
  </div>
  <div id="header"> 
    <h1><span>Boostcon</span></h1>
<div class="menu">
    {% load navigation %}
      {% navigation_tree 3 %}
</div>  </div>
{% block page %}
  <div id="content"> 
    <div id="main"> 
      {% block content %}
      <div class="node"> 
        <p>Content goes here...</p>
      </div>    
    {% endblock %}
    </div>
  </div>
{% endblock %}

  <div id="footer"></div>

</div>
</body>
</html>
