{% extends "base_with_sidebar.html" %}

    {% block sidebar %}

      {% block detail %}
      <h3>detail</h3>
      <ul>
        <li><a href="#">First Subpage</a></li>
        <li><a href="#">Second Subpage</a></li>
        <li><a href="#">Third Subpage</a></li>
      </ul>
      {% endblock %}

      {% block in_sidebar %}
      <h3>sessions</h3>
      <ul>
        <li><a href="sessions/mon">Monday</a></li>
        <li><a href="sessions/tue">Tuesday</a></li>
        <li><a href="sessions/wed">Wednesday</a></li>
        <li><a href="sessions/thu">Thursday</a></li>
        <li><a href="sessions/fri">Friday</a></li>
      </ul>
      <h4>Subheading</h4>
      Subcontent.  That's what I'm talking about.
      {% endblock %}

      {% load news %}
      {% get_latest_news 3 %}

      <div id="news">
        <h4><a href="/news">news</a></h4>
          {% for n in news %}
            <div class="block{% if forloop.first %} first{%endif%}"> 
              <h5>{{ n.title }}</h5>
              <p>{{ n.summary }}</p>
              <p class="more"><a href="{{ n.get_absolute_url }}">More...</a></p>
            </div>
          {% endfor %}
       </div><!--END: news -->

    {% endblock %}
