<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}boostcon'07{% endblock %}</title>
  {% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="boostcon, cpp, c++" />
	<meta name="description" content="boost libraries conference 2007" />
  {% endblock %}
	<meta http-equiv="Content-Language" content="en" />
	<meta name="author" content="Zoltán 'cad' Juhász" />
	<link rel="stylesheet" type="text/css" href="{{media_url}}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{media_url}}/final_drop.css" />
  {% block more_style %}
  {% endblock %}
</head>

<body>
	
<div id="container"> 
  <div id="navigator"> 
    <div class="center"> <a id="home" href="/"><span>home</span></a> <a id="contact" href="/about/contact"><span>contact</span></a> 
    </div>
  </div>
  <div id="header"> 
    <h1><span>Boostcon</span></h1>
<div class="menu">
    {% load navigation %}
      {% navigation_tree 3 %}
</div>  </div>
{% block page %}
  <div id="content"> 
    {% block content %}
    <div id="main"> 
      <div class="node"> 
        <p>Content goes here...</p>
      </div>    
    </div>
    {% endblock %}
  </div>
{% endblock %}

  <div id="footer"></div>

</div>
</body>
</html>
