<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block meta %}
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  {% endblock %}
  <title>{% block title %}Boost Consulting{% endblock %}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <link rel="stylesheet" type="text/css" href="/site-media/main.css" media="screen" />
</head>

<body>

<div id="container">

<div id="branding">
<h1><a href="/" title="Boost Consulting">Boost Consulting</a></h1>
<div id="slogan"></div>
<p><a href="http://www.boost.org/more/BoostCon07.html">BoostCon 2007</a></p>
</div> <!--END: branding -->

{% load navigation %}
<div id="navigation">
{% navigation_tree %}
</div>

{% block extraheader %}
{% endblock %}

{% block page %}
<div id="holder">
  <div id="content">
  {% block content %}
    <p>... Content goes here ...</p>
  {% endblock %}
  </div> <!--END: content -->
</div>
{% endblock %}

<div id="footer">
<p id="copyright">&copy; Copright Boost Consulting 2006. All Rights Reserved</p>
<ul>
<li><a href="#">Page design by Pollenation Internet</a></li>
</ul>
</div> <!--END: footer -->

</div> <!--END: container -->

</body>
</html>
