{% if 1 %}
{% load google_checkout %}
<div class="notice">This button will direct you to Google Checkout for
secure payment
processing.  A <a href="https://www.google.com/accounts/NewAccount"
target="_blank">Google Checkout account</a> is mandatory, but
free of charge.  Note: you will be charged an <strong>additional Google Checkout
processing fee of ${% google_checkout_fee price %}</strong>.
<input type="image"
src="https://checkout.google.com/buttons/checkout.gif?merchant_id={{google_merchant_id}}&w=180&h=46&style=trans&variant=text&loc=en_US"
align="top" style="margin-right:7px;border:0px" name="google"/>
</div>
{% endif %}

{% if 1 %}
{% load paypal %}
<div class="notice">This button will direct you to PayPal for secure
payment processing.  No PayPal account is required.  To pay by credit
card, simply click the “continue” link near the credit card logos on
the next page.  Note: you will be charged an <strong>additional PayPal
processing fee of ${% paypal_fee price %}</strong>.

<input type="image"
src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
align="top" style="margin-right:7px;border:0px" name="paypal"/></div>
{% endif %}

{% if 0 %}
<div class="notice">If you need to pay by check, print a copy of this form and follow the directions shown there.<input class="button" type="submit" name="orderform" value="Download PDF of Order" /></div>
{% endif %}
