{% extends "base.html" %}

{% block extrahead %}
<script src="/site-media/js/jquery-1.1.js" type="text/javascript"></script>

<script type="text/javascript">
<!--

$(function() {

    if ($('label.errors').length > 0)
    {
        $('label.errors').eq(0).children('input').get(0).focus();
    }
    else
    {
        {% if reg_form.errors %}
        $('#id_username').get(0).focus();
        {% else %}
        $('#id_login-username').get(0).focus();
        {% endif %}
    }
});
-->
</script>

<style type="text/css">

    #inner {
        padding-left: 5px;
    }

    form {
        float: left;
    }

    form#login {
        width: 220px;
        margin-right: 25px;
    }

    form#register {
        width: 220px;
        margin-left: 25px;
    }

    form input {
        padding: 0.2em;
        font-weight: normal;
    }

    label input {
        border: 1px inset #CCCCCC;
        color: #333333;
    }

    form input.button {
        border: 1px outset #CCCCCC;
        background-color: #EEEEEE;
        margin: 10px 0 0 5px;
        color: #333333;
        font-size: 120%;
    }

    #field-login-username, 
    #field-login-password {
        width: 210px;
        padding: 5px;
    }

    #field-login-username input, 
    #field-login-password input {
        width: 205px;
    }

    #field-username,
    #field-first-name,
    #field-last-name,
    #field-email, 
    #field-password,
    #field-password2 {
        width: 210px;
        padding: 5px;
    }

    #field-username input,
    #field-first-name input,
    #field-last-name input,
    #field-email input, 
    #field-password input,
    #field-password2 input {
        width: 205px;
    }

    #field-username, #field-login-username {
        margin-top: 10px;
    }

    label, input {
        display: block;
    }

    fieldset {
        border: none;
        border-top: solid 1px #d0d0d0;
        clear: left;
        margin: 1em 0;
        padding: 0;
    }

    legend {
        font-size: 120%;
        font-weight: bold;
        padding-right: 10px;
    }

    label.required {
        font-weight: bold;
    }

    label.errors {
        background-color: #ffff99;
    }

    div.errors {
        margin: 10px 0;
        padding: 10px 5px;
        background-color: #ffff99;
        font-size: 130%;
        text-align: center;
    }

    ul.errorlist {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul.errorlist li {
        display: inline;
    }

    label span {
        font-weight: normal;
    }

    p#or {
        float: left;
        width: 48px;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 2em;
        font-size: 160%;
        font-weight: bold;
        color: #505050;
        border-bottom: solid 2px #c0c0c0;
    }

</style>

{% endblock %}

{% block content %}

<div id="inner">

{% if user.is_authenticated %}
<h1>You are already logged in!</h1>
<p>Logging in to a different account will log you out.</p>
{% endif %}

<form id="login" method="post" action="./login">
    <fieldset>
        <legend>Login to an existing BoostCon account</legend>
        {% if login_form.non_field_errors %}
        <div class="errors">
            {{ login_form.non_field_errors }}
        </div>
        {% endif %}
        <label id="field-login-username" class="required {% if login_form.username.errors %}errors{% endif %}">
            Username <span>{{ login_form.username.errors.as_text }}</span> 
            {{login_form.username}}
        </label>
        <label id="field-login-password" class="required {% if login_form.password.errors %}errors{% endif %}">
            Password <span>{{ login_form.password.errors.as_text }}</span> 
            {{login_form.password}}
        </label>
        <input type="hidden" name="next" value="{{next}}" />
        <input class="button" type="submit" value="Login" class="submit" />
    </fieldset>
</form>

<p id="or">or</p>

<form id="register" method="post" action="./create">
    <fieldset>
        <legend>Create a new BoostCon account</legend>
        {% if reg_form.non_field_errors %}
        <div class="errors">
            {{ reg_form.non_field_errors }}
        </div>
        {% endif %}
        <label id="field-username" class="required {% if reg_form.username.errors %}errors{% endif %}">
            Username <span>{{ reg_form.username.errors.as_text }}</span>
            {{reg_form.username}}
        </label>
        <label id="field-first-name" class="required {% if reg_form.first_name.errors %}errors{% endif %}">
            First Name <span>{{ reg_form.first_name.errors.as_text }}</span>
            {{reg_form.first_name}}
        </label>
        <label id="field-last-name" class="required {% if reg_form.last_name.errors %}errors{% endif %}">
            Last Name <span>{{ reg_form.last_name.errors.as_text }}</span>
            {{reg_form.last_name}}
        </label>
        <label id="field-email" class="required {% if reg_form.email.errors %}errors{% endif %}">
            Participant Email <span>{{ reg_form.email.errors.as_text }}</span>
            {{reg_form.email}}
        </label>
        <label id="field-password" class="required {% if reg_form.password.errors or reg_form.password_mismatch %}errors{% endif %}">
            Password <span>{{ reg_form.password.errors.as_text }}</span>
            {{reg_form.password}}
        </label>
        <label id="field-password2" class="required {% if reg_form.password2.errors or reg_form.password_mismatch %}errors{% endif %}">
            Repeat password <span>{{ reg_form.password2.errors.as_text }}</span>
            {{reg_form.password2}}
        </label>
        <input type="hidden" name="next" value="{{next}}" />
        <input class="button" type="submit" value="Create" class="submit" />
    </fieldset>
</form>

</div>

{% endblock %}
