<div class="section">
{% load code %}
{% python _import_('conference.models').Presenter.objects.filter(sessions__start__start__year=params['year']), as='presenters' %}

{# Somehow the filtering operation above seems to produce duplicates  #}
{# -- maybe one for each session presented -- and using the ifchanged #}
{# clause below prevents duplicates from showing up                   #}

{% load conference %}
{% for p in presenters %}
{% ifchanged %}
<h3><a name="{{p.full_name|slugify}}">{{p.full_name}}</a></h3>

<p>{{p.bio|render_rst:"initial_header_level=4"}}</p>
{% endifchanged %}
{% endfor %}
</div>
