{% extends "base.html" %}
{% block title %}{{conference.name}} - {{ title }}{% endblock %}

{% block content %}
<div class="node" id="document" style="padding-bottom: 20px; margin-left: 50px">
<h2>{{ title }}</h2>
<form  action="." method="post">
  <table border="1" class="schedule">

    <thead>
      <tr><th>Day</th> <th>Time</th> {% for t in tracks %}<th>{{ t.name }}</th>{% endfor %}</tr>
    </thead>

    <tbody>  

      {% load schedule %}
      {% public_schedule boostcon 2010 %}

    </tbody>

  </table>
  <input type="submit" value="" />
  </form>
</div>
{% endblock %}

